h1 {
    color: #fcd12a;
    font-size: 500%;
}

h2 {
    color: green;
    font-size: 100%;
}
h3 {
    color: white;
    font-size: 300%;
}

p {
    font-family: "Georgia";
    color: blue;
    text-indent: 30px;
    margin-left: 20px;
}

li {
  border: 5px solid green;
  background: #8cd3ff;
  font-size: 100%;
}

li:hover {
  background: #ff8d95;
}

#big-table {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 16px;
  border: 7px solid #ffffff;
  background: rgba(10,10,10,0.8)
}

#challenge {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 18px;
  border: 8px solid #ff8d95;
  background: rgba(10,10,10,0.8)
}

#results {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 20px;
  border: 10px solid #8cd3ff;
  background: rgba(10,10,10,0.8)
}

#output {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 40px;
  border: 20px solid #444444;
  background: rgba(10,10,10,0.8)
}

#stuff {
  color: white;
}

#content {
    background-color: #8cd3ff;
    width: 1000px;
    min-height: 300px;
    padding: 10px;
    margin: 10px;
    border: dotted 1px #444444;
    font-size: 20px;
}

#my-portrait {
    width: 500px;
}

body (
  background-image;
  )
